

body {
    font-family: 'DM Serif Display', serif;
}

header {
    display: flex;
    float: left;
    background-color: blue;
    width: 25%;
}

section {
    display: flex;
    float: center;
    background-color: green;
    margin-top: 30px;
}

.list {

}

#about {

}

#a {

}

#projects {

}

#p {

}

#skills {

}

#s {

}

#contact {

}

#c {
    
}

.hidden {

}