@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*background-color: white;*/
    text-align: center;
}

html {
    background:url(./content/images/chicago.jpg) no-repeat center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Archivo', sans-serif;
    font-size: 20px;
    padding: 30px;
}

section {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: green;*/
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /*background-color: blue;*/
}

.left {
    width: 50%;
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
    background:url(/content/images/oilspill.jpg) no-repeat center / cover;
    border-radius: 8px;
}

.left .name {
    width: 100%;
    font-family: 'Nosifer', sans-serif;
    font-size: 40px;
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
}

.first {
    display: grid;
    grid-auto-flow: column;
}

.last {
    display: grid;
    grid-auto-flow: column;
}

.right {
    font-family: 'Archivo', sans-serif;
    font-size: 40px;
    width: 60%;
    min-height: 300px;
    background:url(./content/images/oilslickblue.jpg) no-repeat center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    margin-left: -100px;
    margin-top: 200px;
}

.content {
    width: 100%;
    display: grid;
    row-gap: 20px;
}


.right a {
    text-decoration: none;
    color: black;
}

.about {
    display: grid;
    grid-auto-flow: column;
}

#div2 {
    font-size: smaller;
}

.projects {
    display: grid;
    grid-auto-flow: column;
}

#div3 {
    font-size: smaller;
}

.skills {
    display: grid;
    grid-auto-flow: column;
}

#div4 {
    font-size: smaller;
}

.contact {
    display: grid;
    grid-auto-flow: column;
}

#div5 {
    font-size: 20px;
}

@media only screen and (max-width: 639px) {
    .left .name {
        font-size: 35px;
    }
}

@media only screen and (max-width: 576px) {
    .left .name {
        font-size: 30px;
    }
}

@media only screen and (max-width: 524px) {
    .left .name {
        font-size: 25px;
    }
    
    .right {
        font-size: 35px;
    }
}